@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  padding: 2rem 0;
  border-bottom: 1px solid $lighter-gray;
  box-shadow: none;

  h3 {
    margin-top: 18px;
    margin-bottom: 8px;
  }

  p {
    font-size: 90%;
    line-height: 1.4;
  }

  .title-box {
    margin-bottom: 24px;
  }
}

.thumbnail.visible {
  opacity: 1;
}