@import '../../styles/variables.scss';

.category-container {
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  line-height: 0;
  white-space: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none; // IE 10+
  overflow: -moz-scrollbars-none; // Firefox
  z-index: 1;
  padding: 10px 20px;

  .item {
    display: inline-block;
    // margin-right: 6px;
    margin-bottom: 0;
    // border-radius: 15px;
    border: none;
    white-space: normal;
    box-sizing: border-box;
    cursor: pointer;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 8px 15px 8px;
      margin: 0 10px;
      font-size: 13px;
      box-sizing: border-box;
    }
  }

  .item:last-child {
    margin-right: 0;
  }
}

.category-container::-webkit-scrollbar {
  display: none; // Safari and Chrome
}

.category-container {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  .my-smooth-container {
    scroll-behavior: auto;
  }
}