.home-header {
  margin-top: 2rem;
  border-bottom: none;
  font-weight: 900;
  font-size: 48px;
  letter-spacing: -2px;
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}