@import '../../styles/variables.scss';

.top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem 0;
  background: $theme-gradient;

  .link {
    display: inline-block;
    font-size: 24px;
    color: $top-header-text-color;
    font-family: 'Catamaran';
    font-weight: 800;
  }
}